{% if include_huggingface %}huggingface_hub==0.11.1{% endif %}
{% if include_huggingface %}datasets{% endif %}
{% if include_huggingface %}transformers{% endif %}
{% if include_huggingface %}peft{% endif %}
{% if include_huggingface %}trl{% endif %}
{% if include_huggingface %}bitsandbytes{% endif %}